# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/all/themes/aed/.sass-cache

#IDEs
.idea

#sites/*/files
sites/*/private