@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/company\.scss}line{font-family:\000032}}
.section-company .group-info {
  width: 50%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/company\.scss}line{font-family:\000036}}
.section-company .field-name-field-partner-logo {
  width: 50%;
  float: left;
}
