@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\0000368}}
legend {
  border-bottom: 1px solid #E5E5E5;
  color: #333333;
  display: block;
  font-size: 21px;
  line-height: 40px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\0000379}}
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\0000390}}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #a2a2a2;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\0000397}}
input[type="text"],
input[type="password"],
select,
textarea {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px 4px 4px 4px;
  color: #555555;
  display: inline-block;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
  padding: 6px;
  vertical-align: middle;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\0000397}}
  input[type="text"],
  input[type="password"],
  select,
  textarea {
    padding: 4px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003102}}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003107}}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003112}}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003117}}
#edit-account,
.profile2-form {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003123}}
.field-type-image label {
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003127}}
.field-type-image .image-preview {
  display: inline-block;
  padding: 0;
  vertical-align: top;
  margin-right: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003133}}
.field-type-image .image-preview img {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003138}}
.field-type-image div.image-widget-data {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003141}}
.field-type-image div.image-widget-data .form-submit {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003147}}
html.js input.form-autocomplete {
  background-position: 99% -78%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003151}}
html.js input.throbbing {
  background-position: 99% 112%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003157}}
#user-profile-form .form-item .link-field-url label.element-invisible {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003160}}
#user-profile-form .form-item .link-field-url input {
  margin-left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/forms\.scss}line{font-family:\00003167}}
#edit-cancel {
  margin-left: 5px;
}
