/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\000037}}
html {
  font-size: 112.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000311}}
#name-and-slogan {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000320}}
#logo img {
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000327}}
#contactar-entityform-edit-form > div > div {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000331}}
#contactar-entityform-edit-form > div > div .form-item label {
  display: block;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000335}}
#contactar-entityform-edit-form > div > div .form-item label + * {
  margin-left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000346}}
#menu-bar {
  display: none;
  background: none repeat scroll 0 0 #ffffff;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 99999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000359}}
#menu-bar nav {
  margin: 0;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000364}}
#menu-bar nav a, #menu-bar nav span.nolink {
  padding: 12px 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000368}}
#menu-bar nav > ul {
  height: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000374}}
#menu-bar nav > ul > li {
  -moz-box-flex: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000379}}
#menu-bar nav > ul > li a, #menu-bar nav > ul > li span.nolink {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000383}}
#menu-bar nav > ul > li a + ul, #menu-bar nav > ul > li span.nolink + ul {
  display: block;
  position: static;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000387}}
#menu-bar nav > ul > li a + ul li a, #menu-bar nav > ul > li span.nolink + ul li a {
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000393}}
#menu-bar nav > ul > li a.active-trail, #menu-bar nav > ul > li span.nolink.active-trail {
  background: #EBEBEB;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003101}}
#menu-bar nav .active {
  border-bottom: inherit;
  background: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003102}}
#menu-bar nav .active:after {
  border: none;
  margin-left: 0;
  position: static;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003114}}
#mini-menu-toggle-wrapper {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003117}}
#mini-menu-toggle-wrapper a {
  background: url("../images/menu-toggle.png") no-repeat scroll 50% 50% transparent;
  display: inline-block;
  float: right;
  height: 21px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 4px;
  width: 32px;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003128}}
#mini-menu-toggle-wrapper a.active {
  background-color: #EBEBEB;
}
