/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\000038}}
html {
  font-size: 112.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000312}}
#name-and-slogan {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000321}}
#logo img {
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000328}}
#contactar-entityform-edit-form > div > div {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000332}}
#contactar-entityform-edit-form > div > div .form-item label {
  display: block;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000336}}
#contactar-entityform-edit-form > div > div .form-item label + * {
  margin-left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000347}}
#menu-bar {
  display: none;
  background: none repeat scroll 0 0 #ffffff;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 99999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000360}}
#menu-bar nav {
  margin: 0;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000365}}
#menu-bar nav a, #menu-bar nav span.nolink {
  padding: 12px 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000369}}
#menu-bar nav > ul {
  height: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000375}}
#menu-bar nav > ul > li {
  -moz-box-flex: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000380}}
#menu-bar nav > ul > li a, #menu-bar nav > ul > li span.nolink {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000384}}
#menu-bar nav > ul > li a + ul, #menu-bar nav > ul > li span.nolink + ul {
  display: block;
  position: static;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000388}}
#menu-bar nav > ul > li a + ul li a, #menu-bar nav > ul > li span.nolink + ul li a {
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000394}}
#menu-bar nav > ul > li a.active-trail, #menu-bar nav > ul > li span.nolink.active-trail {
  background: #EBEBEB;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003102}}
#menu-bar nav .active {
  border-bottom: inherit;
  background: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003103}}
#menu-bar nav .active:after {
  border: none;
  margin-left: 0;
  position: static;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003115}}
#mini-menu-toggle-wrapper {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003118}}
#mini-menu-toggle-wrapper a {
  background: url('../images/menu-toggle.png?1392633188') no-repeat scroll 50% 50% transparent;
  display: inline-block;
  float: right;
  height: 21px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 4px;
  width: 32px;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\00003129}}
#mini-menu-toggle-wrapper a.active {
  background-color: #EBEBEB;
}
