@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\000036}}
#columns #content-column {
  width: 74%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\000039}}
#columns #content-column .content-inner {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/xampp\/htdocs\/asociaciondrupal\/sites\/all\/themes\/aed\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000315}}
#columns .region-sidebar-second {
  float: right;
  width: 24%;
  margin-left: auto;
}
