// ------------------------------------------
// ------------------------------------------
// Colores
// ------------------------------------------
// ------------------------------------------
// Grises
$color-grey-a: #323337;
$color-grey-b: #4c4c4c;
$color-grey-c: #a8aeba;
$color-grey-d: #e9e9f3;
$color-grey-d: #eee;

// Azules
$color-blue-a: #007fbe;
$color-blue-b: #009baf;
$color-blue-c: #337dbb;
$color-blue-d: #007382;

// Rojos

// Verdes

// ------------------------------------------
// ------------------------------------------
// Breakpoints
// ------------------------------------------
// ------------------------------------------
$mob: 360px;
$tab: 720px;
$desk: 960px;
$mobile-devices: 0 960px;

// ------------------------------------------
// ------------------------------------------
// Familias de fuentes y tamaños base.
// ------------------------------------------
// ------------------------------------------

@include font-face("museosanscyrl", font-files("MuseoSansCyrl/100/museosanscyrl_100-webfont.woff", "MuseoSansCyrl/100/museosanscyrl_100-webfont.ttf", "MuseoSansCyrl/100/museosanscyrl_100-webfont.svg"), "MuseoSansCyrl/100/museosanscyrl_100-webfont.eot", 100);

@include font-face("museosanscyrl", font-files("MuseoSansCyrl/300/museosanscyrl_300-webfont.woff", "MuseoSansCyrl/300/museosanscyrl_300-webfont.ttf", "MuseoSansCyrl/300/museosanscyrl_300-webfont.svg"), "MuseoSansCyrl/300/museosanscyrl_300-webfont.eot", 500);

@include font-face("museosanscyrl", font-files("MuseoSansCyrl/500/museosanscyrl_500-webfont.woff", "MuseoSansCyrl/500/museosanscyrl_500-webfont.ttf", "MuseoSansCyrl/500/museosanscyrl_500-webfont.svg"), "MuseoSansCyrl/500/museosanscyrl_500-webfont.eot", 500);

@include font-face("museosanscyrl", font-files("MuseoSansCyrl/900/museosanscyrl_900-webfont.woff", "MuseoSansCyrl/900/museosanscyrl_900-webfont.ttf", "MuseoSansCyrl/900/museosanscyrl_900-webfont.svg"), "MuseoSansCyrl/900/museosanscyrl_900-webfont.eot", 900);

$font-family-museosans: "museosanscyrl", sans-serif;

$base-font-size: 14px;
$base-line-height: 1em;

// ------------------------------------------
// ------------------------------------------
// Susy global config.
// ------------------------------------------
// ------------------------------------------
$susy: (
        global-box-sizing: border-box,
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: after,
        debug: (image: hide)
)
