// Estilos compartidos
textarea,
.form-text,
.form-file {
  @include box-sizing(border-box);
  border: 1px solid black;
  padding: 6px;
  background-color: white;
  width: 100%;
}

.textarea[disabled],
.form-text[disabled],
.form-file[disabled] {
  background-color: #ebebeb;
  color: #000000;
}

.form-file {
  padding: 3.7px;
  vertical-align: top;
}

.form-item {
  margin: 0;
  margin-bottom: 1.5em;
}

input.form-autocomplete {
  background-color: white !important;
}

.form-checkbox {
  position: relative;
  top: 3px;
}

.description {
  font-size: 12px;
  margin-top: 5px;
}


