// Media object
// Acomoda un texto a la par de una imagen, tanto si la img esta a la derecha o a la izquierda.
// Si optamos por imagen  a la izquierda, en el div "img" aplicamos el class "left", si a la derecha, class: "right".
// <div class="contenedor"> <div class="img left"> <img src="#" alt=""/> </div> <div class="body"> </div></div>
// Uso: (en el contenedor)   @include media-object();
@mixin media-object() {
  overflow: hidden;

  > .body {
    overflow: hidden;
  }

  > .img {
    float: left;
    margin-right: 10px;

    img {
      display: block;
    }

    // necesitamos que pueda forzarse la alineación izq, en caso de tener media-objects anidados
    &.left {
      float: left;
      margin-right: 10px;
      margin-left: 0;

      //Si la imagen va a la izquierda, tambien el texto.
      + .body {
        text-align: left;
      }
    }

    &.right {
      float: right;
      margin-left: 10px;
      margin-right: 0;

      //Si la imagen va a la derecha, tambien el texto.
      + .body {
        text-align: right;
      }
    }
  }

}
