// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";
@import "menu";
@import "forms";
@import "table";
@import "sprites";
@import "contact";
@import "user-form";

html {
  background: $page;
}

body {
  font-family: $sans-serif-small;
  color: $global-font-color;
  font-size: $global-font-size;
  line-height: $global-line-height;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizelegibility;
  margin: 10px 0;
}

h1 {
  font-size: 34px;
  line-height: 40px;
}

h2 {
  font-size: 26px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  /*foo*/
}

h5 {
  /*foo*/
}

h6 {
  /*foo*/
}

p {
  margin: 0 0 10px;
}

b,
strong {
  /*foo*/
}

i,
em {
  /*foo*/
}

dfn {
  /*foo*/
}

sup {
  /*foo*/
}

sub {
  /*foo*/
}

del {
  /*foo*/
}

ins {
  /*foo*/
}

blockquote {
  /*foo*/
}

cite {
  /*foo*/
}

q {
  /*foo*/
}

address {
  /*foo*/
}

ul {
  /*foo*/
}

ol {
  /*foo*/
}

li {
  /*foo*/
}

dl {
  /*foo*/
}

dd {
  /*foo*/
}

dt {
  /*foo*/
}

abbr {
  /*foo*/
}

acronym {
  /*foo*/
}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Page wrapper, includes the .container class which sets the overall page or section width
 * Main wrapper in page.tpl.php, the .container class sets the width of the page, do not add width to it!
 */
#page {
  .container {
    /*foo*/
  }
}

/*
 * Wraps all header elements - branding and .region-header
 */
#header {
  /*foo*/
}

/*
 * Wraps the sidebars the content column
 */
#columns {
  /*foo*/
}

/*
 * Main content column wrapper
 */
#content-column {
  /*foo*/
}

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column
 */
#main-content {
  /*foo*/
}

/*
 * Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style
 */
#content {
  /*foo*/
}

/*
 * Footer wrapper
 */
#footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 20px;
  padding: 30px 0;
  text-align: center;
  p {
    color: #777777;
    margin-bottom: 0;
  }
}

/*
 * Panels may need additional margin wrangling when in the $content region
 */
#content .panel-display {
  /*foo*/
}

/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width of the contained element - you
 * can style this but never add any width/margin/padding/borders etc to .container
 */

/*
 * Wraps #page
 */
#page-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Wraps the leaderboard
 */
#leaderboard-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Wraps the header
 */
#header-wrapper {
  /* Debug styles, is this working */
  background: $debug;
  .container {
    /*foo*/
  }
}

/*
 * Wraps the nav elements
 */
#nav-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Wraps breadcrumb
 */
#breadcrumb-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Wraps messages and help
 */
#messages-help-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Wraps the main content column
 */
#content-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {
  .container {
    /*foo*/
  }
}

/*
 * Footer wrapper
 */
#footer-wrapper {
  /* Debug styles, is this working? */
  background: $debug;

  .container {
    /*foo*/
  }
}

/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  margin: 0;

  > * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
  }
}

/*
 * Logo
 */
#logo {
  margin-left: 10px;
  img {
    vertical-align: bottom;
  }
}

/*
 * Wrapper for the site name and slogan (hgroup)
 */
#name-and-slogan {
  margin-right: 10px;
}

/*
 * Site name (h1)
 */
#site-name {
  display: none;
}

/*
 * Site slogan (h2)
 */
#site-slogan {
  display: inline-block;
  float: right;
  font-size: 112.5%;
  font-weight: normal;
  line-height: 24px;
  margin-top: 8px;
  text-align: right;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * Main content header wraps the page title, tabs and actions links
 */
#main-content-header {
  /*foo*/
}

/*
 * The main page title (h1)
 */
#page-title {
  margin-bottom: 15px;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {
  /*foo*/
}

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
.more-link {
  /*foo*/
}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
}

/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
.region {
  /*foo*/
}

/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
.region-inner {
  /*foo*/
}

/*
 * Regions can be nested, such as when using Panels
 */
.region-inner .region-inner {
  /*foo*/
}

/*
 * Header region, embedded in the #header
 */
.region-header {
  /*foo*/
}

/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
.region-help {
  /*foo*/
}

/*
 * Secondary content
 */
.region-secondary-content {
  /*foo*/
}

/*
 * Sits above the main content header, like a content-top region
 */
.region-highlighted {
  /*foo*/
}

/*
 * Sits below the main content, like a content-bottom region
 */
.region-content-aside {
  /*foo*/
}

/*
 * Sidebars - targets both
 */
.sidebar {
  /*foo*/
}

/*
 * First sidebar
 */
.region-sidebar-first {
  /*foo*/
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  /*foo*/
}

/*
 * Tertiary content
 */
.region-tertiary-content {
  /*foo*/
}

/*
 * Footer region
 */
.region-footer {
  /*foo*/
}

/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;
  color: $link-color;

  &:link,
  &:visited {
    /*foo*/
  }

  &:active,
  &.active {
    /*foo*/
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */

.nav {
  clear: both;
  margin: 10px 0;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 10px;

    &:visited {
      /*foo*/
    }

    &:hover,
    &:focus {
      /*foo*/
    }
  }

  .block {
    margin-bottom: 0;
  }
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {
    /*foo*/
  }

  .page-previous {
    /*foo*/
  }

  .page-next {
    /*foo*/
  }

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {
    /*foo*/
  }

  li.crumb-last {
    /*foo*/
  }

  a {

    &:link,
    &:visited {
      /*foo*/
    }

    &:active,
    &.active {
      /*foo*/
    }

    &:hover,
    &:focus {
      /*foo*/
    }
  }
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}

.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
ul.pager li {

  a {

    &:link,
    &:visited {
      /*foo*/
    }

    &:active,
    &.active {
      /*foo*/
    }

    &:hover,
    &:focus {
      /*foo*/
    }
  }

  &.pager-item {
    /*foo*/
  }
  &.first {
    /*foo*/
  }
  &.last {
    /*foo*/
  }
  &.pager-current {
    /*foo*/
  }
  &.pager-first {
    /*foo*/
  }
  &.pager-previous {
    /*foo*/
  }
  &.pager-next {
    /*foo*/
  }
  &.pager-last {
    /*foo*/
  }
}

/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 30px;
}

ul.primary {
  border-bottom-color: $border;
  margin: 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {

      background-color: transparent;
      border: medium none #DDDDDD;
      border-radius: 4px 4px 0 0;
      color: #0088CC;
      display: block;
      float: left;
      font-size: 0.95em;
      height: 22px;
      line-height: 0.95em;
      margin-right: 1px;
      padding: 10px 12px 0;
      vertical-align: top;

      &:hover,
      &:focus {
        background-color: $light;
        border-color: $border;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $page;
      border-bottom-color: $page;
      color: #555555;
    }
  }
}

ul.secondary {
  border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}

/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {
    /*foo*/
  }
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {
  /*foo*/
}

/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {
  /*foo*/
}

/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {
  /*foo*/
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {

  .caption {
    /*foo*/
  }

  .full-caption {
    /*foo*/
  }

  .teaser-caption {
    /*foo*/
  }
}

/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {

  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;

  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }

  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}

/*
 * Text
 */
.field-type-text {
  /*foo*/
}

/*
 * Long text
 */
.field-type-text-long {
  /*foo*/
}

/*
 * Text with summary
 */
.field-type-text-with-summary {
  /*foo*/
}

/*
 * File
 */
.field-type-file {
  /*foo*/
}

/*
 * Number/Integer
 */
.field-type-number-integer {
  /*foo*/
}

/*
 * Decimal
 */
.field-type-number-decimal {
  /*foo*/
}

/*
 * Number float
 */
.field-type-number-float {
  /*foo*/
}

/*
 * List
 */
.field-type-list-text {
  /*foo*/
}

/*
 * List boolean
 */
.field-type-list-boolean {
  /*foo*/
}

/*
 * List integer
 */
.field-type-list-integer {
  /*foo*/
}

/*
 * List float
 */
.field-type-list-float {
  /*foo*/
}

/*
 * Field types (Contrib)
 */
.field-type-datetime {
  /*foo*/
}

.field-type-node-reference {
  /*foo*/
}

.field-type-user-reference {
  /*foo*/
}

/*
 * Named fields
 */
.field-name-body {
  /*foo*/
}

.field-name-field-image {
  /*foo*/
}

.field-name-field-tags {
  /*foo*/
}

/*
 * Underscores in field name are replaced with dashes
 */
.field-name-field-FIELDNAME {
  /*foo*/
}

/*
 * Image Alignment Theme Settings - included here so you can easily override 
 */

/*
 * Float none setting
 */
.ia-n .field-type-image,
.iat-n .field-type-image {
  /*foo*/
}

/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
.block-inner {
  /*foo*/
}

/*
 * The first block in the region
 */
.block.first {
  /*foo*/
}

/*
 * The last block in the region
 */
.block.last {
  /*foo*/
}

/*
 * Zebra striping for each block in the region
 */
.block.odd {
  /*foo*/
}

/*
 * Zebra striping for each block in the region
 */
.block.even {
  /*foo*/
}

/*
 * Block title
 */
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
.block-content {
  /*foo*/
}

/*
 * Match item list and block menu margin and padding
 */
.block-content {

  ul,
  ol {
    padding: 0 0 0 15px;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

/*
 * Block for the latest news items in the first category
 */
#block-aggregator-category-1 {
  /*foo*/
}

/*
 * Block for the latest news items in the first feed
 */
#block-aggregator-feed-1 {
  /*foo*/
}

/*
 * First block created with "Add block" link
 */
#block-block-1 {
  /*foo*/
}

/*
 * "Recent blog posts" block
 */
#block-blog-recent {
  /*foo*/
}

/*
 * "Book navigation" block for the current book's table of contents
 */
#block-book-navigation {
  /*foo*/
}

/*
 * "Recent comments" block
 */
#block-comment-recent {
  /*foo*/
}

/*
 * "Active forum topics" block
 */
#block-forum-active {
  /*foo*/
}

/*
 * "New forum topics" block
 */
#block-forum-new {
  /*foo*/
}

/*
 * Language switcher block
 */
#block-locale-language {
  /*foo*/
}

/*
 * Custom menu block
 */
#block-menu-menu-NAME {
  /*foo*/
}

/*
 * "Recent content" block
 */
#block-node-recent {
  /*foo*/
}

/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
#block-node-syndicate {
  /*foo*/
}

/*
 * "Most recent poll" block
 */
#block-poll-recent {
  /*foo*/
}

/*
 * "Author information" block for the profile of the page's author
 */
#block-profile-author-information {
  /*foo*/
}

/*
 * "Search form" block
 */
#block-search-form {
  /*foo*/
}

/*
 * "Shortcuts" block
 */
#block-shortcut-shortcuts {
  /*foo*/
}

/*
 * "Popular content" block
 */
#block-statistics-popular {
  /*foo*/
}

/*
 * "Management" block for Drupal management menu
 */
#block-system-management {
  /*foo*/
}

/*
 * "Navigation" block for Drupal navigation menu
 */
#block-system-navigation {
  /*foo*/
}

/*
 * "User menu" block for Drupal user menu
 */
#block-system-user-menu {
  /*foo*/
}

/*
 * "System help" block
 */
#block-system-help {
  /*foo*/
}

/*
 * "Main page content" block
 */
#block-system-main {
  /*foo*/
}

/*
 * "Powered by Drupal" block
 */
#block-system-powered-by {
  /*foo*/
}

/*
 * "User login form" block
 */
#block-user-login {
  /*foo*/
}

/*
 * "Who's new" block for a list of the newest users
 */
#block-user-new {
  /*foo*/
}

/*
 * "Who's online" block for a list of the online users
 */
#block-user-online {
  /*foo*/
}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;

  &.node-promoted {
    /*foo*/
  }

  &.node-sticky {
    /*foo*/
  }

  &.node-by-viewer {
    /*foo*/
  }

  &.node-teaser {
    /*foo*/
  }

  &.node-full {
    /*foo*/
  }

  &.odd {
    /*foo*/
  }

  &.even {
    /*foo*/
  }

  .node-title {
    margin: 0;
  }

  .user-picture {
    /*foo*/
  }

  .submitted {

    .username {
      /*foo*/
    }

    time {
      /*foo*/
    }
  }

  .node-content {
    /*foo*/
  }

  ul.links {

    li {
      /*foo*/
    }
    li a {
      /*foo*/
    }

    li.node-read-more a {
      /*foo*/
    }
    li.comment-add a {
      /*foo*/
    }
    li.comment-comments a {
      /*foo*/
    }
    li.comment-new-comments a {
      /*foo*/
    }
    li.blog-sernames-blog a {
      /*foo*/
    }
    li.print-html a {
      /*foo*/
    }
    li.print-email a {
      /*foo*/
    }
    li.print-pdf a {
      /*foo*/
    }
  }
}

.preview .node {
  /*foo*/
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {
  /*foo*/
}

.node-article {
  /*foo*/
}

.node-book {
  /*foo*/
}

.node-forum {
  /*foo*/
}

.node-poll {
  /*foo*/
}

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0;
    }

    &.comment-form {
      margin: 0;
    }
  }
}

/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;

  &.first {
    /*foo*/
  }

  &.last {
    /*foo*/
  }

  &.odd {
    /*foo*/
  }

  &.even {
    /*foo*/
  }

  .user-picture {
    /*foo*/
  }

  .submitted {

    p {
      /*foo*/
    }

    .username {
      /*foo*/
    }

    time {
      /*foo*/
    }
  }

  .user-signature {
    /*foo*/
  }

  ul.links {
    /*foo*/
  }
}

/*
 * Comment title
 */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
.comment-new {
  /*foo*/
}

.comment-by-anonymous {
  /*foo*/
}

.comment-by-node-author {
  /*foo*/
}

.comment-by-viewer {
  /*foo*/
}

.comment-title-hidden {
  /*foo*/
}

.comment-with-picture {
  /*foo*/
}

.comment-with-signature {
  /*foo*/
}

/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {
  /*foo*/
}

/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}

/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes,
  &.form-radios {
  }
}

/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}

/*
 * The submit button
 */
.form-submit {
}

.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Tips for Drupal's input formats
 */
.tips {
}

/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}

table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

tbody {
  /*foo*/
}

tbody tr {
  border-top: 1px solid $border;
}

tr {

  &.odd {
    background: $page;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2) {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {
    /*foo*/
  }

  &.drag-previous {
    /*foo*/
  }

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}

.lt-ie8 tr {

  &.even,
  &.odd {

    th,
    td {
    }
  }
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  .created,
  .posts,
  .topics,
  .last-reply,
  .replies,
  .pager {
    white-space: normal;
  }
}

/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
    // Left and right margin are set by the global gutter width
    margin-bottom: 10px;
    margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {
  }

  &.warning {
  }
}

tr.warning {
}

div.error,
tr.error {
}

.error {
}

.warning {
}

/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {
}

.node-unpublished,
.comment-unpublished {

  p.unpublished {
    @include unpublished;
  }
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {
    margin: 0;
  }
}

.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}

ul > li > i {
  margin-right: 5px;
}

ol.alphabetical {
  list-style: lower-alpha;

}

.falta {
  background: red;
  color: #ffffff;
}

table.empresas-colabora {
}

table.empresas-colabora tr {
}

table.empresas-colabora tr td {
  padding: 15px;
  vertical-align: middle;
}

table.empresas-colabora tr td img {
  width: 100%;
}

.center {
  text-align: center;
}

a.download {
  font-size: 12px;
}

a.download i {
  margin-right: 4px;
  position: relative;
  top: -2px;
}

#mini-menu-toggle-wrapper {
  display: none;
}

#menu-bar {
  display: block;
}

.form-item, .form-actions {
  margin-bottom: 20px;
  margin-top: 0;
}

//pagina del perfil de usuario
.entity.entity-profile2.profile2-socio {
  .field-label {
    line-height: 24px;
    margin: 0;
    min-width: 15%;
    padding-right: 2%;
    text-align: right;
  }
}