#user-profile-form {

  $labelMargin: 23.5%;
  $inputWidths: 40%;

  .form-item {
    label {
      display: inline-block;
      position: relative;
      text-align: right;
      width: 20%;
      white-space: nowrap;
      font-weight: normal;

      + * {

        display: inline-block;
        margin-left: 3%;
        width: $inputWidths;

        &.form-textarea-wrapper {
          vertical-align: top;
        }

      }
    }

  }

  .description {
    font-size: 0.75em;
    margin-left: $labelMargin;
    color: #555555;
  }

  #edit-actions {
    margin-left: $labelMargin;
  }

  .form-item-pass {
    padding-bottom: 52px;
    position: relative;
    margin-bottom: 0;

    > * {
      clear: none;
      width: auto;
    }

    .password-parent {

      .password-strength {
        bottom: 22px;
        margin-left: $labelMargin;
        position: absolute;
        width: $inputWidths;
        font-size: 0.9em;

        .password-strength-text {
          display: inline-block;
          float: none;
          font-weight: bold;
          text-align: right;
        }
        .password-strength-title {
          display: inline-block;
          float: left;
          margin-right: 5px;
        }
      }
    }
    .confirm-parent {
      margin-bottom: 0;

      div.password-confirm {
        bottom: 0;
        font-size: 0.85em;
        margin-left: $labelMargin;
        position: absolute;
        visibility: hidden;
      }
    }

    .description,
    .password-suggestions.description {
      display: none !important;
    }

    .password-indicator {
      height: 6px;
      background-color: #F7F7F7;
      background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
      background-repeat: repeat-x;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      overflow: hidden;

      .indicator {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: #0E90D2;
        background-image: linear-gradient(to bottom, #149BDF, #0480BE);
        background-repeat: repeat-x;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
        color: #FFFFFF;
        float: left;
        font-size: 12px;
        height: 100%;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        transition: width 0.6s ease 0s;
        width: 0;
      }
    }
  }

  .form-type-radio {
    label {
      text-align: left;
    }
  }

  #edit-profile-socio-field-sexo-und {
    .form-item {
      display: inline;
      label {
        margin-right: 12px;
        width: auto;
      }
    }
  }

  .form-item-profile-socio-field-exponer-mi-perfil-und {
    margin-left: $labelMargin;
    .description {
      margin-left: 2.7%;
      width: auto;
    }
  }

  .form-wrapper {
    position: relative;
  }

  .exponer-este-field {

    font-size: 12px;
    left: 65%;
    position: absolute;
    top: 15%;

    > div {

      float: right;
      margin: 0;

      input {
      }
      label {
      }
    }
  }
}