#content .panel-display.plugin_layout_user_profile_view {
    margin: 0 auto;
    width: 90%;
}

#content .panel-display.plugin_layout_user_profile_view,
#content .panel-display.plugin_layout_user_profile_view tbody,
#content .panel-display.plugin_layout_user_profile_view tr {
    border: none;
}

#content .panel-display.plugin_layout_user_profile_view .heading {
    border: medium none;
    margin: 0 0 20px;
}

#content .panel-display.plugin_layout_user_profile_view .heading .region-foto {
    display: inline-block;
    width: 21%;
}

#content .panel-display.plugin_layout_user_profile_view .heading .region-foto > * {
    float: right;
}

#content .panel-display.plugin_layout_user_profile_view .heading .region-membership-data {
    float: right;
    max-width: 30%;
}

#content .panel-display.plugin_layout_user_profile_view .heading .region-nombre {
    display: inline-block;
    max-width: 46%;
    font-size: 225%;
    font-weight: bold;
    line-height: 100%;
    vertical-align: top;
    margin-top: 15px;
}

#content .panel-display.plugin_layout_user_profile_view .heading .region-nombre > * {
    float: left;
    width: auto;
}

#content .panel-display.plugin_layout_user_profile_view .heading .region-nombre .field-name-field-apellidos {
    margin-left: 0.2em;
}

#content .panel-display.plugin_layout_user_profile_view .conten-zone .region-contenido-header {
    margin-bottom: 1em;
}

#content .panel-display.plugin_layout_user_profile_view .conten-zone .region-contenido {
    margin-bottom: 1em;
}

#content .panel-display.plugin_layout_user_profile_view .conten-zone .region-contenido > section {
}

#content .panel-display.plugin_layout_user_profile_view .conten-zone .region-contenido > section h2 {
    clear: left;
    float: left;
    line-height: 24px;
    margin: 0;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 22%;
}

#content .panel-display.plugin_layout_user_profile_view .conten-zone .region-contenido > section .field-items {
    line-height: 24px;
    margin-left: 20px;
}

#content .panel-display.plugin_layout_user_profile_view .conten-zone .region-contenido-footer {
    margin-bottom: 1em;
}