// Forms
// -----------------------------------

// Estilos compartidos
textarea,
.form-text,
.form-file {
  @include box-sizing(border-box);
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  background: #e7e7e7;
  border: none;
}

textarea[disabled],
.form-text[disabled],
.form-file[disabled] {
}

.grippie {
  display: none;
}

.form-file {
  vertical-align: top;
}

.form-item {
  margin: 0 0 15px;

  label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 4px;
  }

}

input.form-autocomplete {
}

.form-checkbox {
  position: relative;
  top: 3px;
}

fieldset {
  @include box-sizing(border-box);
  padding-top: 30px;
  position: relative;
  margin: 0;

  legend {
    position: absolute;
    top: 10px;

    span {
    }
  }

  .fieldset-wrapper {
  }
}

.views-submit-button,
.form-actions {

  input[type='submit'] {
    font-size: 14px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    padding: 16px 26px 17px;
    border: none;
    margin: 0;
  }

}
