// Azules
$color-blue-a: #323B44;
$color-blue-b: #25292C;
$color-blue-c: #414F5A;
$color-blue-d: #0488CD;


// Grises
$color-grey-a: #FAFAFA;
$color-grey-b: #DDD;
$color-grey-c: #666666;
$color-grey-d: #727272;
$color-grey-e: #a1a1a1;
