/*-----------------------*/
/* Alerts */
/*-----------------------*/
.messages {
  padding: 15px !important;
  border-radius: 4px;
  background-image: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.messages--warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
    border-top-color: #f8e5be;
  }

  &.messages--error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    border-top-color: #e6c1c7;
  }

  &.messages--status {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-top-color: #c9e2b3;
  }

  li {
    list-style-type: none;
  }
}