/*-----------------------*/
/* Breadcrumb */
/*-----------------------*/

.breadcrumb {
  margin: 0;

  li {
    display: inline-block;
    line-height: 24px;
    font-size: 13px;
    font-weight: 300;
    color: #000000;
    margin: 0 24px 0 0;
    position: relative;

    &:before {
      margin-top: -5px;
      position: absolute;
      right: -15px;
      top: 50%;
    }

    &:last-child {
      margin-right: 0;

      &:before {
        content: none;
      }
    }

    a {
      color: #000000;
      line-height: 40px;
    }

  }

}
